
*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    background: #000;
    font-family: Source Sans Pro;
}

.custom-head h1 {
    color: ghostwhite;
    font-size: 30px;
    text-transform: uppercase;
    margin: 20px auto;
    text-align: center;
}

.custom-head p {
    font: 22px;
    text-align: center;
    width: 65%;
    margin: 0 auto;
    line-height: 1.5;
    color: rgb(238, 228, 228);
}

.hero-btn{
    position: relative;
    outline: none;
    border: none;
    text-decoration: none;
    color: whitesmoke;
    top: 35px;
    padding: 15px;
    border-radius: 10px;
    transition: all 1s ease-in-out;
}

.hero-btn:hover{
    transform: scale(1.3);
    border: 1px solid whitesmoke;
}

nav {
    background-image: url(../images/car3.jpg);
    background-size: 70%;
    background-repeat: no-repeat;
    background-position: right;
    height: 100vh;
    position: relative;
    filter: brightness(75%);
}

@media (max-width: 700px) {
    nav {
        background-image: url(../images/car3.jpg);
        background-size: cover;
        background-repeat: no-repeat;
        background-position: center;
        height: 85vh;
        position: relative;
    }
    
    }

.desktop-logo{
    font-size: 35px;
    position: absolute;
    top: 5px;
}

.mobile-logo{
    display: none;
}

@media(max-width: 700px) {
    .desktop-logo{
        display: none;
    }   

    .mobile-logo{
        display: block;
        font-size: 35px;
        position: absolute;
        top: 5px;
    }
}

    .big-text{
        text-transform: uppercase;
        color: ghostwhite;
        font-size: 50px;
        width: 40%;
        margin-left: 100px;
        position: absolute;
        top: 250px;
        line-height: 1.3;
    }
    
.small-text{
    width: 30%;
    color: rgb(238, 228, 228);
    line-height: 1.5;
    word-spacing: 1px;
    position: absolute;
    bottom: 0;
    left: 20px;
}

.external-links{
    display: flex;
    justify-content: space-between;
    align-items: center;
    max-width: 85%;
    height: 75px;
    margin: 25px auto;
    filter: brightness(65%);
}

.external-links img{
    width: 75px;
    height: 75px;
}


@media (max-width: 700px) {
    
    .big-text{
        font-size: 32px;
        margin-left: 150px;
        text-align: center;
        position: absolute;
        top: 120px;
    }

.small-text{
    width: 50%;
    left: 35px;
    bottom: 120px;
}

.external-links{
    height: 50px;
    width: 60px;
    width: 100%;
}

.external-links img{
    width: 100%;
    height: 50px;
}
    }

.about{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 95%;
    height: auto;
    margin: 100px auto;

}

.about .text{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 85%;
    margin: 0 auto;
    height: auto;
    line-height: 1.5;
    word-spacing: 1.5px;
}

.about .text .head{
    color: ghostwhite;
    font-size: 30px;
    width: 275px;
}

.about .text .body{
    width: 500px;
    color: rgb(238, 228, 228);
}

.about .image{
    width: 85%;
    height: 70vh;
    overflow-y: hidden;
    margin: 100px auto;
}

.about  .image img{
    width: 100%;
    transform: translateY(-500px);
}
@media (max-width: 700px) {
    
    .about .text{
        display: flex;
        flex-direction: column;
        justify-content: space-between;
        align-items: center;
        width: 100%;
        margin: 0 auto;
        height: auto;
        text-align: center;
    }
    
.about .text .head{
    font-size: 30px;
    width: 275px;
}

.about .text .body{
    margin: 20px auto;
    width: 95%;
}

.about .image{
    width: 85%;
    height: 50vh;
}

.about  .image img{
    width: 100%;
    transform: translateY(-120px);
}
 
}

.features{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    max-width: 95%;
    margin: 75px auto;
    height: auto;
}

.features p {
    font: 22px;
    color: rgb(238, 228, 228);
}

.features .feature-ctn{
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 25px;
}

.features .feature-ctn .feature{
    width: 270px;
    height: 220px;
    letter-spacing: 1px;
    line-height: 1.5;
}

.feature-ctn .feature .index{
    color: whitesmoke;
    font-size: 25px;
    margin: 5px auto;
}

.feature-ctn .feature .head{
    color: whitesmoke;
    font-size: 20px;
    margin: 5px auto;
    text-transform: capitalize;
}

.feature-ctn .feature .body{
    font-size: 14px;
}

@media (max-width: 700px) {
    .features h1{
        font-size: 27px;
    }    
.features p{
    text-align: center;
    font: 18px;
}

.features .feature-ctn{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}


.features .feature-ctn .feature{
    width: 90%;
    margin: 20px auto;
    height: 220px;
    text-align: center;
}

}
/* 
FAQS section */
.FAQs-ctn{
    display: flex;
    justify-content: space-around;
    align-items: center;
    max-width: 85%;
    height: auto;
    margin: 50px auto;
}
.FAQs-ctn .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 55%;
    height: auto;
}

.FAQs-ctn .text .head{
    color: antiquewhite;
    margin: 20px auto;
    margin-left: 0;
}

.FAQs-ctn .text .question{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    margin: 10px auto;
    line-height: 1.5;
    color: whitesmoke;
    width: 100%;
}

.FAQs-ctn .text .question .header{
        display: flex;
        justify-content: space-between;
        margin-bottom: 10px;
        width: 100%;
}

.question #first-text, #second-text, #third-text{
    display: none;
}

.question .header .hamburger {
    position: static;
    height: 30px;
    width: 50px;
    transition: 0.5s;
    cursor: pointer;
    transform: rotate(0);
}

.question .header .hamburger:hover{
    filter: brightness(60%);
}

 .question .header .hamburger .vert{
    background-color: whitesmoke;
    width: 2px;
    height: 12px;
    margin: 0 auto;
    transform: translateY(5px);
 }

 .question .header .hamburger .horz {
     background-color: whitesmoke;
     width: 13px;
     height: 2px;
     margin: 0 auto;
    transform: translateY(-2.5px);
 }

 .open{
    transform: rotate(90deg);
    transform: translateY(0);
 }

 .open .vert{
    display: none;
 }

 .open .horz {
     transform: translateY(10px);
 }

.FAQs-ctn .image{
    width: 35%;
    height: auto;
}

.FAQs-ctn .image img{
    width: 100%;
    height: 300px;
}

@media (max-width: 700px) {
    /* 
    FAQS section */
        .FAQs-ctn {
            display: flex;
            flex-direction: column-reverse;
            justify-content: space-around;
            align-items: center;
            max-width: 90%;
            height: auto;
        }

        .FAQs-ctn .text{
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    align-items: center;
    width: 100%;
    margin-top: 50px;
}

.FAQs-ctn .image {
    width: 90%;
    height: auto;
}


}